*{
    margin: 0;
    padding: 0;
}
.back{
    background: linear-gradient(300deg, #080500, #1f1203, #893700);
    background-size: 180% 1% ;
}
.head{
    height: 3rem;
    color: #fff;
    background-color: #00000871;
    text-align: center;
}
.my-btn{
    background-color: #01a601;
    color: #fff;
}
.container{
    width: 80%;
}
.logo{
    width: auto;
}
.input-text{
    width: 80%;
    margin: 10px auto;
}
.recipeDiv{
    text-align: center;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 10px;
    place-items: center;
}
.recipe{
     background-color: #fff;
     display: flex;
     flex-direction: column;
     padding: 4px;
     box-shadow: 3px;
     border-radius: 4px;
     cursor: pointer;
     max-width: 300px;
}
.recipe:hover{
    transform: scale(1.01);
}
.recipe button{
    background-color: #01a601;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px;
    border:none;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
}
.recipe button:hover{
    background-color: rgb(180, 188, 175);
    color: white;
}
.recipe>p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: rgb(44, 42, 42);
     font-size: 13px;
     font-style: italic;
}
