<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="body">
  <div class="upper">
  <div class="navbar">
    <div class="my-nav">
            <div class="logo" ><a href="/home">VoultKey</a></div>
            <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>
        <div class="upper-content">
            <marquee><h1>Welcome to Voultkey</h1></marquee>
        </div>
      </div>
        <div class="lower">
          <a class="my-btn"href="/register" role="button">Register</a>
          <a class="my-btn" href="/login" role="button">Login</a>
        </div>
        <footer class="my-footer">&copy;All right reserved</footer>
</body>
</html>