<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="style.css" rel="stylesheet">
</head>
<body class="form-body">
  <div class="navbar">
    <div class="my-nav">
            <div class="logo" ><a href="/home">VoultKey</a></div>
            <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>
    <form class="form-outer" action="/login" method="POST">
          <label for="email">Email :</label>
          <input  type="email" class="my-form" name="username" placeholder=" Enter your email">
          <label for="password">Password :</label>
          <input type="password" class="my-form" name="password"placeholder=" Enter your password">
        <button type="submit" class="my-btn form-btn">Login</button>
      </form>
</body>
</html>