<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="form-body">
    <form class="form-outer" action="/register" method="POST">
        <label for="email">Email :</label>
        <input  type="email" class="my-form" name="username" placeholder="Enter your email">
        <label for="password">Password :</label>
        <input type="password" class="my-form" name="password"placeholder="Enter your password">
      <button type="submit" class="my-btn form-btn">Register</button>
    </form>
</body>
</html>