:root{
    --my-color:#0d7e5c;
    --padding:20px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(205, 233, 221);
    width: 100vw;
}
header{
    background-color: var(--my-color);
    padding: var(--padding);
    color: #fff;
}
header h1{
    font-size: 35px;
}
main{
    min-height: 70vh;
    padding: 20px;
    max-width: 80%;
    margin: 40px auto;
}
main form{
    display: flex;
    justify-content: center;
}
.resultDiv{
    background-color: hwb(158 92% 2%);
    border-radius: 3pxpx;
    margin-top: 3rem;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
}
#wiki{
    text-decoration: none;
}
.result{
    padding: var(--padding);
}
.result p[class="pos"]{
    font-style: italic;
    opacity: 60%;
}
footer{
    color: #fff;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #0d7e5c;
    height: 50px;
}